[Desktop Entry]
Version=1.0
Type=Application
Name=Castellan
Comment=Start the Castellan smart home system
Exec=xfce4-terminal --title="Castellan" --command=/home/boas/castellan-start.sh
Icon=/home/boas/.local/share/icons/castellan.svg
Terminal=false
Categories=Utility;
StartupNotify=false
